
/* Stylesheet for the main webpage */

.background {
    background-color: #ff7f51;
    align-content: center;
    padding: 20px;
}

.title {
    color: #000;
    text-align: center;
}

.thumbnail {
    border: 5px solid #000;
    width: 200px;
    height: 200px;
}

.games_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.games_container a {
    background-color: #ff9b54;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #000;
}

.game_link h2 {
    text-align: center;
    color: #000;
}

a {
    text-decoration: none !important;
}

.game_link{
    display: flex;
    flex-direction: column;
    align-items: center;
}