
/* Stylesheet for the main webpage */

.background {
    background-color: #ff7f51;
    align-content: center;
    padding: 20px;
    max-height: 1000px;
}

.title {
    color: #000;
    text-align: center;
}

.thumbnail {
    border: 5px solid #000;
    width: 200px;
    height: 200px;
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: pixelated;                /* Chrome, Firefox */

}

.games_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr ;
    column-gap: 20px;
    row-gap: 20px;
}

.games_container div {
    background-color: #ff9b54;
    border-radius: 5px;
    border: 5px solid #000;
    text-align: center;
    padding: 0px;
}

.game_link h2 {
    text-align: center;
    color: #000;
}

.game_link{
    display: flex;
    flex-direction: column;
    align-items: center;
}